/others/**
/year_1/sm1/**
/year_1/sm2/assembly/**
/year_1/sm2/calculus_1/**
/year_1/sm2/combinatiorics/**
/year_1/sm2/linear_algebra/**
/year_1/sm2/physics1/**
/year_1/SS/**
/year_2/sm1/comp_architecture/**
/year_2/sm1/comp_logic/**
/year_2/sm1/data_structs/**
/year_2/sm1/statistics/**
/year_2/sm1/system_characteristic/**
/year_2/sm2/algorithms/**
/year_2/sm2/arc_inteligence/**
/year_2/sm2/communication_networks/**
/year_2/sm2/numeric_analyze/hw/**
/year_2/sm2/web_cloud/lectures/**
/year_2/sm2/web_cloud/practice/**
/year_2/sm2/database/class
/year_2/sm2/database/homework
/year_3/sm1/qa
*.pdf
*.png
*.jpeg
*.jpg
*.exe
*.zip
*.rar
*.docx
*.doc
*.csv
*.mp4
*.drawio