* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main,
header,
footer {
    width: 100%;
    display: block;
}

.amiko {
    font-family: 'Amiko';
    font-style: normal;
    color: #000000;
}

nav {
    padding-top: 52px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

a {
    text-decoration: none;
    color: #000000;
    padding-left: 18px;
}

.in::before {
    content: "";
    position: absolute;
    margin-top: -10px;
    margin-left: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F72828;
}

.out:hover {
    color: #EBEF18;
}

header {
    height: 123px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    height: 41px;
    background-color: #000000;
}

.wrapper {
    display: flex;
    height: 624px;
    width: 881px;
    justify-content: center;
    margin-top: 91px;
    margin-bottom: 145px;
}

.left_container {
    width: 50%;
    padding-top: 267px;
}

.text_box {
    font-weight: 700;
    margin-top: -85px;
}

.left_container h1 {
    font-size: 72px;
    line-height: 96px;
    letter-spacing: 25px;
}

.left_container p {
    font-size: 24px;
    line-height: 32px;
}

.right_container {
    width: 50%;
    display: flex;
    gap: 15px;
}

.squares_container {
    display: flex;
    flex-direction: column;
}

.square {
    background-color: #EBEF18;
    height: 20px;
    width: 20px;
    margin-top: 11px;
}

.L_squares .square:nth-child(1) {
    margin-top: 44px;
    width: 75px;
    height: 23px;
}

.L_squares .square:nth-child(2) {
    margin-top: 8px;
    width: 136px;
    height: 46px;
}

.L_squares .square:nth-child(3) {
    width: 134px;
    height: 404px;
}

.L_squares .square:nth-child(4) {
    width: 88px;
    height: 28px;
}

.L_squares .bottom_left_squares {
    display: flex;
    justify-content: row;
    gap: 7px;
}

.L_squares .bottom_left_squares .square {
    width: 25px;
    height: 26px;
    margin-top: 7px;
}

.C_squares .square:nth-child(1) {
    margin-top: 44px;
    width: 246px;
    height: 352px;
}

.C_squares .bottom_center_squares {
    display: flex;
    gap: 14px;
}

.C_squares .bottom_center_squares .square:nth-child(1) {
    margin-top: 16px;
    width: 123px;
    height: 212px;
}

.C_squares .bottom_center_squares .right .square:nth-child(1) {
    width: 55px;
    height: 105px;
}

.C_squares .bottom_center_squares .right .square:nth-child(2) {
    margin-top: 7px;
    width: 110px;
    height: 58px;
}

.R_squares {
    margin-top: -11px;
}

.R_squares .square {
    width: 28px;
    height: 55px;
}

.R_squares .square:nth-child(4) {
    width: 28px;
    height: 198px;
}

.free_square {
    top: 626px;
    margin-left: 386px;
    background-color: #EBEF18;
    width: 55px;
    height: 105px;
    position: absolute;
    margin-right: 300px;
}

/**************************************  LAYOUT2 CSS  **************************************/

.Swrapper {
    display: flex;
    margin-left: 151px;
    gap: 55px;
    height: 1850px;
    width: 100%;
    overflow: hidden;
}

.SL_squares .square {
    background-color: #C4C4C4;
    ;
    width: 457px;
    height: 299px;
    margin-top: 70px;
}

.SR_squares .square {
    background-color: #C4C4C4;
    ;
    margin-top: 70px;
    width: 457px;
    height: 299px;
}


.SL_squares {
    margin-top: 49px;

}

.SR_squares {
    margin-top: 217px;
}

aside {
    background-color: #EBEF18;
    width: 169px;
}

aside .square {
    width: 80px;
    height: 80px;
    background-color: #C4C4C4;
}

aside a {
    font-size: 96px;
    margin-top: 0;
}

aside .square:nth-child(1) {
    background-color: #000000;
    margin-top: 119px;
}

aside .square:nth-child(2) {
    background-color: #FFFFFF;
    margin-top: 48px;
    float: right;
}

aside .square:nth-child(3) {
    background-color: #000000;
    margin-top: 289px;
}

.name_bar {
    margin-left: 20px;
    margin-top: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside a:nth-child(2) {
    margin-left: 20px;
}

aside a:nth-child(3) {
    margin-left: 10px;
}


/**************************************  LAYOUT3 CSS  **************************************/


.L3_main {
    display: flex;
    flex-wrap: wrap;
    /* height: 95%; */
}

.top_sec {
    height: 123px;
    width: 100%;
    background-color: #F2E9E9;
    display: flex;
    justify-content: end;
    padding-right: 24px;
}

.top_sec .square {
    background-color: #000000;
    width: 80px;
    height: 80px;
    margin-top: 21px;
}

.Dwrapper {
    display: flex;
    width: 100%;
    height: auto;
    height:100%;
}

.L3_nav {
    background-color: #E5E5E5;
    padding-top: 123px;
    width: 372px;
    height: auto;
}

.L3_aside {
    background-color: rgba(24, 71, 239, 0.3);
    height: auto;
    width: 104px;
}

.L3Squares {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding-top: 123px;
     padding-left: 64px;
    padding-right: 64px;
    gap:123px;
    margin-bottom: 200px;
}

.bottom {
    height: 463px;
    width: 100%;
    background-color: #EBEF18;
}

.cardLetter{
    color: white;
    font-weight: 400;
    /* font-size: 5em; */
    visibility: hidden;
    padding-left: 30%;
    padding-top: 15%;
}


@media screen and (max-width: 600px) {

    /*for mobile*/
    .Dwrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        height: 100%;
    }

    .L3_nav {
        width: 100%;
        padding-top: 52px;
        height: 123px;
        background-color: #F5F5F5;
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
    }

    .L3_aside {
        display: none;
    }
}